<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
</head>

<body>
  <header class="page-header">
    <div class="h-card page-header__logo">
      <a href="/" title="Go home"><img class="u-photo" src="/assets/avatar.jpg" alt="Travis Briggs" width="40" /></a>
      <a class="site-name p-name" href="/">Travis Briggs</a>
      <p class="p-note" style="display:none">Musician. Programmer. Digital
      Gardener. Atheist. Life, the Universe, and Everything. Toots auto-delete
      after 90 days. I'm audiodude pretty much everywhere, including at
      gmail.com</p>
      <a class="u-email" style="display:none" href="mailto:audiodude@gmail.com">audiodude@gmail.com</a>
      <p style="display:none">
        <span class="p-locality">San Francisco</span>, <span class="p-region">CA</span> <span class="p-country-name">USA</span>
      </p>
    </div>

    <nav>
      <a href="/garden/">Garden</a>
      <a href="/garden/about">About Me</a>
      <a href="/now">Now</a>
    </nav>
  </header>
  <main>{{content}}</main>

  <footer class="page-footer">
    <div class="badges">
      <a class="badge" href="https://gem.travisbriggs.com">GEMINI</a>
      <a class="badge" href="/feed.xml">RSS</a>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="badge-img-link">
        <img class="badge-img" src="/assets/img/cc-by-sa-88x31.png" alt="CC BY-SA 4.0" width="88" height="31" />
      </a>
    </div>
    <p class="copy">
      &copy; {% year %} {{site.author}} &middot;
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </p>
    <p class="copy">
      <a href="https://songs.travisbriggs.com">songs</a> &middot;
      <a href="https://dangerthirdrail.com">danger third rail</a> &middot;
      <a href="https://sfba.social/@audiodude">mastodon</a>
    </p>
  </footer>
</body>

</html>
